<h1>Buscando: <small>{{termino}}</small><h1>
<hr>
<!-- Aqui hacemos una alerta que no se encuentran resultados-->
<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="aler">
      No existen resultados con el termino: {{termino}}
    </div>
  </div>
</div>

<!--Aqui tenemos lo que hace que salga los resitados -->
<div class="card-columns">
<!--*ngFor="let heroe of heroes; let i = index"-->
<app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes"></app-heroe-tarjeta>
</div>
